@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,600;1,100;1,300;1,600&family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

:root {
    --textcolor: #707070;
    --activecolor: #25DFE6;
    --linkcolor: #00C1C9;
    --buttoncolor: #F5F5F5;
    --white: #FFFFFF;
    --linecolor: #B7B7B7;
}

body {
    font-family: 'Rubik', sans-serif;
    width: 60%;
    margin: 0 auto;
}

h1 {
    color: var(--textcolor);
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--linecolor);
    padding: 2.5rem;
}

.resourcecontainer {
    border: 1px solid var(--linecolor);
    border-top: 5px solid var(--activecolor);
    padding-left: 2rem;
    padding-bottom: 5rem;
}

.hidden {
    display: none;
}

.catButton {
    background-color: var(--buttoncolor);
    color: var(--textcolor);
    border-top: 1px solid var(--linecolor);
    border-left: 1px solid var(--linecolor);
    border-right: 1px solid var(--linecolor);
    border-bottom: none;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: 1rem;
    font-weight: lighter;
}

.catactive {
    background-color: var(--activecolor);
    color: var(--white);

    border: none;
    outline: none;
}

.info {
    color: black;
}

.catText {
    color: var(--textcolor);
    font-size: 1.1rem;
    width: 70%;
}

.catName {
    color: var(--textcolor);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

ul li a {
    color: var(--linkcolor);
    font-size: 1.1rem;
}
ul {
    color: var(--textcolor);
}